.rate-component{
  position: relative;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: block;
}

.rate-component > div{
  display: inline-block;
}

.rate-component > div:nth-of-type(2){
  width: 20px;
}

